body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

.balance {
    text-align: center;
    margin-bottom: 20px;
}

button {
    background-color: #00c853;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #007b2f;
}

.transaction-section {
    text-align: center;
    margin-top: 30px;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 200px;
}
